@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'SmackLaidethDown2016';
    src: url('fonts/SmackLaidethDown2016Oblique-AY92.ttf')
}
body {
   font-family: 'Muli', sans-serif;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100vh;
   overflow: hidden;
   margin: 0;
   background: rgb(68, 68, 68);
   background-image: url('images/wwebackground.jpeg');
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   background-blend-mode: multiply;
}

.header {
    text-align: center;
    color: rgb(177, 2, 2);
    font-family: 'SmackLaidethDown2016';
    text-shadow: 1px 1px black;
}

.header h2 {
    color: rgb(167, 165, 165);
    text-shadow: 1px 1px black;
}

.container {
    display: flex;
    width: 90vw;
}

.panel {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    filter: grayscale(100%);
    transition: flex 0.7s ease-in;
    -webkit-transition: all 700ms ease-in;
    opacity: 1.0 !important;
}

.panel h3 {
    font-size: 36px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
    text-shadow: .1rem .1rem black;
}

.panel.active {
    filter: grayscale(0%);
    transition: filter 0.3s ease-in;
    flex: 5;
    box-shadow: 5px 5px rgb(19, 19, 19);
}

.panel.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}

@media (max-width: 480px) {
    .container {
        width: 100vw;    
    }

    .panel:nth-of-type(4), .panel:nth-of-type(5) {
        display: none;
    }
}